################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/fitsmu-1a/.vs/fitsmu-1a/v15
/fitsmu-1a/x64/Debug
